@import "tailwindcss";

:root {
  --color-secondary: #6750A4;
}

@layer utilities {
  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }
}