@import "tailwindcss";

:root {
  --color-secondary: #6750A4;
  --color-secondary-dark: #3B1E70;
}

@theme {
  --color-secondary: var(--color-secondary);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-secondary-light: var(--color-secondary-light);
}

.bg-sidebar-gradient {
  background: linear-gradient(to bottom, var(--color-secondary-dark), var(--color-secondary));
}
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: var(--color-secondary); /* Updated background color */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: var(--color-secondary); /* Light gray thumb */
  border-radius: 9999px;
  border: 2px solid var(--color-secondary); /* Padding effect using same bg */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary); /* Darker gray on hover */
}

.scrollbar-thin::-webkit-scrollbar-button {
  display: none; /* Hides top/bottom arrows */
}

/* Firefox support */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) #D1D5DB; /* thumb color | track color */
  
}